*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* 头一 */
.a_box{
    width: 100%;
    height: 70px;
    background: #242424;
    border-bottom: 1px solid #000;
    position: relative;
}
.a_box .lit{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}
.aimg a{
    background: url(https://s2.music.126.net/style/web2/img/frame/topbar.png?d8a7721813343a2ecfe9f80afbc27994) no-repeat;
    width: 177px;
    height: 69px;
    display: inline-block;
    
}
.aimg{
    position: absolute;
}
.lit .desc_box{
    width: 508px;
    height: 70px;
    position: relative;
    left: 156px;
    top: 27px;
}
.lit .desc_box a{
    color: #fff;
    float: left;
    margin-left:38px;
    font-size: 14px;
    text-decoration: none;
}
.lit .srchbg{
    margin-top: -52px;
    background-color: #fff;
    border-radius: 30px;
    width: 158px;
    height: 32px;
    font-size: 12px;
    color: #333;
    line-height: 32px;
    text-align: center;
    margin-left:760px;
}

.lit .srchbg2{
    margin-top: -32px;
    background-color: #fff;
    border-radius: 30px;
    width: 89px;
    height: 32px;
    font-size: 12px;
    color: #ccc;
    line-height: 30px;
    text-align: center;
    margin-left:932px;
}
.lit .srchbg3{
    margin-top: -32px;
    background-color: #fff;
    border-radius: 30px;
    width: 32px;
    height: 32px;
    font-size: 12px;
    color: #ccc;
    line-height: 30px;
    text-align: center;
    margin-left:1044px;
}

/* 头二 */
.b_box{
    width: 100%;
    height: 35px;
    background: #C20C0C;
    border-bottom: 1px solid #a40011;
    position: relative;
}
.b_box .desc_2box{
    position: absolute;
    height: 35px;
    line-height: 35px;
    text-align: center;
    left: 375px;
}
.b_box .desc_2box li{
    float: left;

}
.b_box .desc_2box a{
    color: #fff;
    margin-left:52px;
    font-size: 12px; 
    text-decoration: none;
}


/* 轮播图 */
.banner{
    width: 984px;
    margin: auto;
}
.banner::after{
    content: "";
    font-size: 0;
    clear: both;
    display: block;
}
.first_banner{
    overflow: visible;
    position: relative;
    width: 730px;
    height: 336px;
    float: left;
}
.img_box{
    width: 730px;
    height: 336px;
    overflow: hidden;
}
.img_box ul{
    width: 100%;
    height: 100%;
    position: relative;
}
.img_box ul li{
    float: left;
}
.img_box ul li img{
    width: 100%;
    height: 100%;
}
.tip_box{
    position: absolute;
    bottom: 20px;
    right: 275px;
    height: 20px;
    line-height: 30px;
}
.tip_box .tip{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    margin-left: 20px;
}
.tip_box .tip.current{
    background:#C20C0C;
}
.btn_box{
    position: absolute;
    top:40%;
    transform: translateY(-50%);
    width: 100%;
}
.btn_box div{
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #242424;
    font-size: 80px;
    cursor: pointer;
    user-select: none;
}
.left_btn{
    position: absolute;
    right: 730px;
}
.right_btn{
    position: absolute;
    left: 990px;
}
.second_banner{
    float: right;
    font-size: 0;
}
.second_banner a{
    background: url(https://s2.music.126.net/style/web2/img/index/download.png?b6677cf59150de2c29a1dcc9c2092da4) no-repeat;
    display: inline-block;
    width: 254px;
    height: 336px;
    overflow: hidden;
}

/* 下部 */
#down_box{
    width: 984px;
    height: 1734.4px;
    margin: auto;
    border: 1px solid #d3d3d3;
    border-top:none ;
}
.bigBox{
    width: 729px;
    height: 1734.4px;
    float: left;
}
.litBox{
    width: 254px;
    height: 1734.4px;
    border-left: 1px solid #d3d3d3;
    float: right;
}

.bigBox .fsbox{
    width: 689px;
    height: 523px;
    margin: 20px 20px 40px 20px;
}
.bigBox .fsbox .dhbox{
    width: 689px;
    height: 50px;
    position: relative;
}
.dhbox .logo1{
    width: 689px;
    height: 35px;
    border-bottom: 2px solid #C10D0C;
}
.fsbox .dhbox .logo1 a{
    width: 100%;
    height: 100%;
    display: block;
    background: url(https://s2.music.126.net/style/web2/img/index/index.png?50945945667957946284bffeb02f25b8)no-repeat  0 9999px;
    background-position: -225px -156px;
    
}
.fsbox .dhbox .wzbox{
    font-size: 16px;
    position: absolute;
    left: 30px;
    top: 5px;
}
.fsbox .dhbox .wzbox a{
    margin-left: 20px;
    color: #242424;
    text-decoration-line: none;
}
.fsbox .wjbox {
    margin: 20px 0 0 -42px;
    position: relative;
}
.fsbox .wjbox li{
    width: 140px;
    height: 204px;
    padding-left: 42px;
    display: inline-block;
    overflow: hidden;
    padding: 0 0 30px 38px;
    line-height: 1.4;
}
.fsbox .wjbox .aaa{
    width: 140px;
    height: 38.4px;
    max-width: 100%;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    list-style: none;
}
.fsbox .wjbox .bottom{
    position: absolute;
    bottom: 95px;
    width: 100%;
    height: 27px;
    background: url(https://s2.music.126.net/style/web2/img/coverall.png?20e868c8b0cb66a0476abf7ec33a1567) no-repeat  
}
.fsbox .wjbox div span{
    position: absolute;
    bottom: 3px;
    left: 30px;
}
.fsbox .wjbox .icon-headset{
    background: url(https://s2.music.126.net/style/web2/img/iconall.png?caaa0906eb8eda6839e752b7ca077e73) no-repeat;
    width: 14px;
    height: 11px;
    background-position: 0 -24px;
    margin: 9px 5px 5px 10px;
    left: 0;
    color: #000;
}
.fsbox .wjbox div .icon-play{
    position: absolute;
    left: 120px;
    bottom: 5px;
    width: 16px;
    height: 17px;
    background: url(https://s2.music.126.net/style/web2/img/iconall.png?caaa0906eb8eda6839e752b7ca077e73) no-repeat;
}


/* 右部个人主页 */
#down_box .litBox .headbox{
    width: 100%;
    height: 180px;
    background: #6666662e;
}